.login-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: 74vh;

    padding: 20px;
}

.login-card {
    background: white;

    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 340px;
    padding: 2rem;
}

.login-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2c3e50;
    font-size: 1.8rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.error {
    color: transparent;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.error.visible {
    color: #dc3545 !important;
}

.form-group label {
    font-weight: 500;
    color: #555;
    margin-bottom: 0.5rem;
}

.form-group input {
    color: #333;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
    border-left: 3px solid rgb(2, 196, 60);
    outline: none;
}

.form-group input.error {
    border-left-color: red !important;
    border-color: red
}



.login-btn {
    padding: 0.8rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0.5rem;
}



.login-btn:disabled {
    background-color: #6c757d !important;
    transform: none !important;
    opacity: 0.8;
}

.login-footer {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

.forgot-password {
    display: block;
    margin-bottom: 1rem;
    color: #3498db;
    text-decoration: none;
}

.register-link {
    color: #3498db;
    text-decoration: none;
    font-weight: 500;
}

.forgot-password:hover,
.register-link:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .login-card {
        padding: 1.5rem;
        border-radius: 0;
        box-shadow: none;
    }

    .login-container {
        padding: 0;
        align-items: flex-start;
    }
}