<header>
        <div class="container header-container">
            <div class="logo">Phone<span>Zone</span></div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Logout</a></li>
                    <li><a href="#" class="highlight-btn">List Your Phone</a></li>
                </ul>
            </nav>
        </div>
    </header>
