<header class="main-header">
  <div class="container">
    <div class="logo">
      <a [routerLink]="['/home']">
        <h1>Phone<span>Zone</span></h1>
        <p>Your Mobile Technology Hub</p>
      </a>
    </div>
    <div class="error-message">
      @if(errorService.error()){
      <app-error-notification></app-error-notification>
      }
    </div>

    <!-- Search Bar Coming Soon -->
    <!-- <div class="search-bar">
                    <form id="search-form">
                        <input
                            type="text"
                            id="search-input"
                            placeholder="Search phones..."
                            autocomplete="off"
                        />
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <div class="search-results" id="search-results"></div>
                </div> -->

    <!-- User Actions -->
    <div class="header-actions">
      @if(!isLoggedIn$()){
      <div class="auth-buttons" id="guest-actions">
        <a
          [routerLink]="['/login']"
          [appActiveLink]="'/login'"
          [exact]="true"
          class="btn btn-login"
          ><mat-icon class="icon">login</mat-icon> Login</a
        >
        <a
          [routerLink]="['/register']"
          [appActiveLink]="'/register'"
          [exact]="true"
          class="btn btn-register"
          ><mat-icon class="icon">person_add</mat-icon> Register</a
        >
      </div>
      }@else{
      <div class="user-menu" id="user-actions">
        <a
          [routerLink]="['/cart']"
          [appActiveLink]="'/cart'"
          [exact]="true"
          class="btn btn-cart disabled-cart"
        >
          <mat-icon class="icon">shopping_cart</mat-icon>
          <span class="cart-count">0</span>
          <span class="coming-soon">Coming Soon</span>
        </a>
        <a class="btn btn-logout" (click)="logout()"
          ><mat-icon class="icon">logout</mat-icon> Logout</a
        >
      </div>
      }
    </div>
  </div>

  <!-- Main Navigation -->
  <nav class="primary-nav">
    <div class="container">
      <ul>
        <li>
          <a [routerLink]="['/home']" [appActiveLink]="'/home'" [exact]="true"
            ><mat-icon class="icon">home</mat-icon> Home</a
          >
        </li>

        <li>
          <a
            [routerLink]="['/products']"
            [appActiveLink]="'/products'"
            [exact]="false"
            ><mat-icon class="icon">mobile_screen_share</mat-icon> Products</a
          >
        </li>
        @if(isLoggedIn$()){

        <li>
          <a
            [routerLink]="['/create']"
            [appActiveLink]="'/create'"
            [exact]="true"
            ><mat-icon class="icon">add_circle</mat-icon> Create Product</a
          >
        </li>

        <li>
          <a
            [routerLink]="['/myProducts']"
            [appActiveLink]="'/myProducts'"
            [exact]="true"
            ><mat-icon class="icon">list</mat-icon> My Products</a
          >
        </li>
        }
      </ul>
    </div>
  </nav>
</header>
