 .loader-overlay {
      position: fixed;
      top: 45%;
      left:45%;
      right: 45%;
      bottom: 45%;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }